server:
  port: 8085

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://localhost:5432/e_commerce
    username: postgres
    password: "0000"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
