server:
  port: 8084

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/e_commerce
    username: postgres
    password: "0000"

  jpa:
    hibernate:
      ddl-auto: update
