server:
  port: 8181

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false

      routes:
        - id: auth-service
          uri: http://auth-service:8080
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: http://user-service:8080
          predicates:
            - Path=/users/**

        - id: product-service
          uri: http://product-service:8080
          predicates:
            - Path=/products/**

        - id: inventory-service
          uri: http://inventory-service:8080
          predicates:
            - Path=/inventory/**

        - id: order-service
          uri: http://order-service:8080
          predicates:
            - Path=/orders/**

        - id: payment-service
          uri: http://payment-service:8080
          predicates:
            - Path=/payments/**

logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: INFO
